:root {
    --pixel-size: 6;
  }

h1 {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.container {
    width: 600px;
    height: 600px;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 1rem;
    padding: 1rem;
}

.pokeContainer {
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
}

#randomGame {
    animation: color-change 1s infinite;
}


.pokeImage_trainer  {
    animation: moveTrainer 1s steps(4) infinite;
    width: calc(132px * var(--pixel-size));
}

.pokeImage {
    width: calc(32px * var(--pixel-size));
    height: calc(51px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    margin: auto;

}
  
.pixelart {
    image-rendering: pixelated;

}
  

/* random move color change */

@keyframes color-change { 
    0% { color: rgb(255, 145, 0); }
    15% { color: rgb(235, 201, 9); }
    30% { color: rgb(115, 255, 0); }
    45% { color: rgb(0, 195, 255); }
    60% { color: rgb(132, 0, 255); }
    75% { color: rgb(247, 0, 255); }
    90% { color: rgb(255, 0, 64); }
    100% { color: rgb(255, 0, 0); }
  }

@keyframes moveTrainer {
    from {
        transform:translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}